<div id="like_button_div">
<button class="ty-btn cm-ajax" data-ca-dispatch="dispatch[products.like]" type="button" name="submit" onclick="" value="$rating" id="like-button">Like {$product.rating}</button>
<!--like_button_div--></div>
<script>

$('#like-button').on('click', function(e){
    
   //e.preventDefault();
   	var product_id = {$_REQUEST['product_id']};
 
	$.ceAjax('request', fn_url("products.like"), {
		
			data: { 'product_id': product_id },
		result_ids: 'like_button_div',
			
	});
	
});

</script>
